APP_NAME=app
BASE_URL=http://localhost:8080
CSP_ALLOW_UNSAFE_EVAL=false
CSP_ALLOW_UNSAFE_INLINE=true
DATABASE_PATH=app.db
JOB_QUEUE_TIMEOUT=10s
LOG_JSON=false
LOG_LEVEL=debug
LOG_NO_TIME=true
MARKETING_EMAIL_ADDRESS=marketing@example.com
MARKETING_EMAIL_NAME=Marketing
OTEL_EXPORTER_OTLP_HEADERS=x-honeycomb-team=123
POSTMARK_KEY=123
REPLY_TO_EMAIL_ADDRESS=support@example.com
REPLY_TO_EMAIL_NAME=app
SECURE_COOKIE=false
SERVER_ADDRESS=:8080
TRANSACTIONAL_EMAIL_ADDRESS=support@example.com
TRANSACTIONAL_EMAIL_NAME=app
