@import "tailwindcss";
@source "../glue/html/**/*.go";
@source "/go/pkg/mod/maragu.dev/glue*/html/**/*.go";

/*
100	Thin (Hairline)
200	Extra Light (Ultra Light)
300	Light
350 Book
400	Normal (Regular)
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
900	Black (Heavy)
950	Extra Black (Ultra Black)
*/

/*
Breakpoints:
- pre-sm: phones
- md: tablets
- lg: sideways tablets
- xl: laptops and desktops
*/

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("InterVariable-Italic.woff2") format("woff2");
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@theme inline {
  --color-primary-50: var(--color-pink-50);
  --color-primary-100: var(--color-pink-100);
  --color-primary-200: var(--color-pink-200);
  --color-primary-300: var(--color-pink-300);
  --color-primary-400: var(--color-pink-400);
  --color-primary-500: var(--color-pink-500);
  --color-primary-600: var(--color-pink-600);
  --color-primary-700: var(--color-pink-700);
  --color-primary-800: var(--color-pink-800);
  --color-primary-900: var(--color-pink-900);
  --color-primary-950: var(--color-pink-950);
}
